<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.daviancorp.android.mh4udatabase"
    android:versionCode="9"
    android:versionName="1.04" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="19" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">

        <!-- MONSTER LIST SECTION -->
        <activity
            android:name="com.daviancorp.android.ui.list.MonsterListActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.daviancorp.android.ui.detail.MonsterDetailActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.daviancorp.android.ui.list.MonsterListActivity" />
        </activity>

        <!-- ITEM LIST SECTION -->
        <activity
            android:name="com.daviancorp.android.ui.list.ItemListActivity"
            android:label="@string/app_name"
            android:windowSoftInputMode="stateHidden"
            android:screenOrientation="portrait"
            android:launchMode="singleTask"/>
        <activity
            android:name="com.daviancorp.android.ui.detail.ItemDetailActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.daviancorp.android.ui.list.ItemListActivity" />
        </activity>

        <!-- ARMOR LIST SECTION -->
        <activity
            android:name="com.daviancorp.android.ui.list.ArmorListActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:launchMode="singleTask"/>
        <activity
            android:name="com.daviancorp.android.ui.detail.ArmorDetailActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.daviancorp.android.ui.list.ArmorListActivity" />
        </activity>

        <!-- LOCATION LIST SECTION -->
        <activity
            android:name="com.daviancorp.android.ui.list.LocationListActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:launchMode="singleTask"/>
        <activity
            android:name="com.daviancorp.android.ui.detail.LocationDetailActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.daviancorp.android.ui.list.LocationListActivity" />
        </activity>

        <!-- COMBO LIST SECTION -->
        <activity
            android:name="com.daviancorp.android.ui.list.CombiningListActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:launchMode="singleTask"/>

        <!-- QUEST LIST SECTION -->
        <activity
            android:name="com.daviancorp.android.ui.list.QuestListActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:launchMode="singleTask"/>
        <activity
            android:name="com.daviancorp.android.ui.detail.QuestDetailActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.daviancorp.android.ui.list.QuestListActivity" />
        </activity>

        <!-- ARENA QUEST SECTION -->
        <activity
            android:name="com.daviancorp.android.ui.list.ArenaQuestListActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:launchMode="singleTask"/>
        <activity
            android:name="com.daviancorp.android.ui.detail.ArenaQuestDetailActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.daviancorp.android.ui.list.ArenaQuestListActivity" />
            </activity>

        <!-- SKILL TREE SECTION -->
        <activity
            android:name="com.daviancorp.android.ui.list.SkillTreeListActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:launchMode="singleTask"/>
        <activity
            android:name="com.daviancorp.android.ui.detail.SkillTreeDetailActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.daviancorp.android.ui.list.SkillTreeListActivity" />
        </activity>

        <!-- DECORATION SECTION -->
        <activity
            android:name="com.daviancorp.android.ui.list.DecorationListActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:launchMode="singleTask"/>
        <activity
            android:name="com.daviancorp.android.ui.detail.DecorationDetailActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.daviancorp.android.ui.list.DecorationListActivity" />
        </activity>

        <!-- WEAPON SECTION -->
        <activity
            android:name="com.daviancorp.android.ui.list.WeaponSelectionListActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:launchMode="singleTask">
            </activity>
        <activity
            android:name="com.daviancorp.android.ui.list.WeaponListActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/FullScreenActivity">
            <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value="com.daviancorp.android.ui.list.WeaponSelectionListActivity" />
        </activity>
        <activity
            android:name="com.daviancorp.android.ui.detail.WeaponDetailActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value="com.daviancorp.android.ui.list.WeaponSelectionListActivity" />
        </activity>

        <!-- WISHLIST SECTION -->
        <activity
            android:name="com.daviancorp.android.ui.list.WishlistListActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:launchMode="singleTask"/>
        <activity
            android:name="com.daviancorp.android.ui.detail.WishlistDetailActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.daviancorp.android.ui.list.WishlistListActivity" />
            </activity>

        <!-- ARMOR SET BUILDER ACTIVITY -->
        <activity
            android:name="com.daviancorp.android.ui.detail.ArmorSetBuilderActivity"
              android:label="@string/app_name"
              android:screenOrientation="portrait"
            android:launchMode="singleTask"/>
    </application>

</manifest>